.title {
  color: rgb(48, 48, 48);
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  text-decoration-line: underline;
  margin-bottom: 25px;

  @media screen and (max-width: 768px) {
    font-size: 30px;
    text-align: center;
  }
}

.section-pd {
  padding: 50px 0px;

  @media screen and (max-width: 578px) {
    padding: 30px 0px;
  }
}

.btn{
  width: 100%;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;

  &--red {
    color: #ffffff;
    background: #EF2626;
    border: 1px solid #EF2626;
  }

  &--white {
    color: #000000;
    border: 1px solid rgba(98, 98, 98, 0.45);
    background: rgb(255, 255, 255);
  }
}