.title {
  color: rgb(48, 48, 48);
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  text-decoration-line: underline;
  margin-bottom: 25px;

  @media screen and (max-width: 768px) {
    font-size: 30px;
    text-align: center;
  }

  @media screen and (max-width: 578px) {
    font-size: 25px;
  }
}

.section-pd {
  padding: 50px 0px;

  @media screen and (max-width: 578px) {
    padding: 30px 0px;
  }
}

.btn{
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  transition: $animation_speed;

  &--red {
    color: #ffffff;
    background: #EF2626;
    border: 1px solid #EF2626;

    @media (hover: hover) {
      &:hover {
        color: #000000;
        border: 1px solid rgba(98, 98, 98, 0.45);
        background: rgb(255, 255, 255);
      }
    }
  }

  &--white {
    color: #000000;
    border: 1px solid rgba(98, 98, 98, 0.45);
    background: rgb(255, 255, 255);

    @media (hover: hover) {
      &:hover {
        color: #ffffff;
        background: #EF2626;
        border: 1px solid #EF2626;
      }
    }
  }
}

.burger {
  color: #ffffff;
  font-size: 20px;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
  padding: 10px;
}

.text {
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    margin-bottom: 15px;
  }
}
