.header-mb {

  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $accent;
  display: none;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  z-index: 100;

  //.header-mb__list
  &__list {

  }

  //.header-mb__item
  &__item {
  }

  //.header-mb__link
  &__link {
    display: block;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }


}