.header {
  flex: 0 0 auto;

  //.header__top

  &__top {
  }

  //.header__bottom

  &__bottom {
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $accent;
    z-index: 99;
  }
}

.header-top {
  padding: 8px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.62);

  //.header-top__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  //.header-top__left
  &__left {
    display: flex;
    align-items: center;
    gap: 42px;
  }

  //.header-top__socials
  &__socials {
    display: flex;
    align-items: center;
    //gap: 10px;

    a {
      transition: $animation-speed;
      padding: 5px;

      @media (hover: hover) {
        &:hover {
          transform: translateY(-3px);
        }
      }
    }
  }

  //.header-top__info
  &__info {
    display: flex;
    align-items: center;
    gap: 32px;

    a {
      font-size: 16px;
      color: #000000;
      text-decoration: underline;
      transition: $animation-speed;

      @media (hover: hover) {
        &:hover {
          color: $accent;
        }
      }
    }
  }

  //.header-top__right
  &__right {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  //.header-top__nav
  &__nav {
  }

  //.header-top__btn
  &__btn {
    padding: 10px 18px;
    border: 1px solid rgb(239, 38, 38);
    transition: $animation-speed;

    @media(hover: hover) {
      &:hover {
        background-color: $accent;
        color: #ffffff;
      }
    }
  }
}

.nav {

  //.nav__list
  &__list {
    display: flex;
    align-items: center;
    gap: 26px;
  }

  //.nav__item
  &__item {
  }

  //.nav__link
  &__link {
    color: #000000;
    transition: $animation_speed;

    @media(hover: hover) {
      &:hover {
        color: $accent;
      }
    }
  }
}

.header-bottom {

  //.header-bottom__inner
  &__inner {
    display: flex;
    align-items: center;
    gap: 18px;
    background: $accent;
    padding: 0px 14px;
  }

  //.header-bottom__logo
  &__logo {
  }

  //.header-bottom__nav
  &__nav {
  }

}

.nav-bottom {
  width: 100%;

  //.nav-bottom__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (hover: hover) {
      &:hover {
        .nav-bottom__item {
          opacity: .8;
        }
      }
    }
  }

  //.nav-bottom__item
  &__item {
    padding: 22px 0px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(hover: hover) {
      &:hover {
        opacity: 1 !important;

        .submenu {
          transform: translateY(0px);
          pointer-events: all;
          opacity: 1;
        }

        i {
          transform: rotate(-180deg);
        }
      }
    }

    &::before {
      content: '';
      width: 1px;
      height: 10px;
      background: #ffffff;
    }

    &:first-child::before {
      display: none;
    }

    i {
      color: #ffffff;
      font-size: 12px;
      transition: $animation_speed;
    }

  }

  //.nav-bottom__link
  &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #ffffff;
    padding: 0px 10px;
    transition: $animation_speed;
  }

}

.submenu {
  display: none;
  transition: $animation_speed;
  z-index: 99;

  @media (hover: hover) {
    display: block;
    transform: translateY(20px);
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  }

  //.submenu__item
  &__item {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    &:last-child {
      border-bottom: none;
    }
  }

  //.submenu__link
  &__link {
    display: block;
    font-size: 14px;
    color: #000000;
    white-space: nowrap;
    padding: 10px 10px;
    transition: $animation_speed;

    @media (hover: hover) {
      &:hover {
        background: rgba($color: #000000, $alpha: 0.03);
      }
    }
  }

}



