.image-slider {
  padding: 50px 0px;

  //.image-slider__slider
  &__slider {
  }

  //.image-slider__wrapper
  &__wrapper{}

  //.image-slider__slide
  &__slide{
    width: 100%;
    height: 314px;
    display: flex;
    align-items: center;
    justify-content: center;


    img {
      width: 100%;
      object-fit: cover;
    }
  }
}